  <% cart.each do |order| %>
<div class="border cart-cards position-relative" data-controller="remove-product" data-remove-product-target="remove">
    <i class="fa-solid fa-xmark position-absolute mark btn-color x" data-action="click=>remove-product#remove"></i>

    <div class="img"> %>
      <%= cl_image_tag order[:product].photo.key%>
    </div>

    <div class="flex-grow-1">

      <div class="title-card">
        <h2 class="pt-2"><%= order[:product].name %></h2>
      </div>

      <div class="d-flex justify-content-between align-items-end">

        <div class=" btn-group " role="group" aria-label="Basic example" data-controller="counter" data-controller="get" data-counter-count="<%= order[:amount] %>">
          <button type="button" id="decrement-count" class="btn btn-color btn-margin br-minus button-group-1" data-action="counter#decrement">
            <i class="fa-solid fa-minus"></i>
          </button>
          <span id="total-count" class=" btn btn-color btn-margin button-group-1" data-counter-target="output" data-get-target="get"><%= order[:amount] %></span>
          <button type="button" id="increment-count" class="btn btn-color br-plus button-group-1" data-action="counter#increment" >
            <i class="fa-solid fa-plus"></i>
          </button>
        </div>

        <span class="fs-4 price">€ <%= order[:product].price %></span>
      </div>
    </div>
  </div>
      <% end %>
