<%= render "shared/navbar" %>
<div class="d-flex justify-content-between header-container align-items-center mb-2">
  <h1 class=""><%= @restaurant.name %></h1>
  <div class=""><%= link_to 'Create Table', new_restaurant_table_path, class: "btn-dashboard" %></div>
  <div><%= link_to 'Create Category', new_restaurant_category_path, class: "btn-dashboard" %></div>
  <div><%= link_to 'Create Product', new_restaurant_product_path, class: "btn-dashboard" %></div>
  <div><%= link_to "Edit Restaurant", edit_restaurant_path(@restaurant), class: "btn-dashboard"%></div>
</div>
<div class="outer-container d-flex">
  <div class="qr-code-container">
    <div class="border text-center pt-1 sticky-top bg-white">
      <h2>Tables</h2>
    </div>
    <% sum = 0 %>
    <% @array_qr_codes.each do |svg| %>
      <div class="border text-center" data-controller="toggle" >
          <h3 class="mt-1" data-action="click->toggle#connect"><%= @tables[sum].name %></h3>
          <p>Click to download QR-Code</p>
        <% sum += 1 %>
        <div class="qr-code text-center" data-toggle-target="element" data-controller="download-qr-code" data-action="click->download-qr-code#download">
          <%= svg.html_safe %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="product-container">
    <div class="border text-center pt-1 sticky-top bg-white">
      <h2>Products</h2>
    </div>
    <div>
      <% @products.each do |product| %>
        <div class="border text-center d-flex justify-content-between ps-2">
          <div class="d-flex justify-content-between flex-grow-1">
            <p><%= product.id %></p>
            <p><%= product.name %></p>
            <p><%= product.price %>€</p>
          </div>
          <div class="pe-2 ps-3">
            <%= link_to edit_restaurant_product_path(@restaurant, product) do%>
              <i class="fa-solid fa-pen edit-pen"></i>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
   <div class="product-container">
    <div class="border text-center pt-1 sticky-top bg-white">
      <h2>Categories</h2>
    </div>
    <%  @categories.each do |category|%>
      <div class="border text-center d-flex justify-content-between ps-2">
          <p><%= category.id %></p>
          <p><%= category.name %></p>
        <div class="pe-2">
          <%= link_to edit_restaurant_category_path(@restaurant, category) do%>
            <i class="fa-solid fa-pen edit-pen"></i>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
   <div class="product-container">
    <div class="border text-center pt-1 sticky-top bg-white" style="z-index: -100;">
      <h2 >Statistics</h2>
    </div>

  </div>
</div>
