<%#= so file loads %>
<%= render "shared/navbar" %>
<div class="d-flex justify-content-between header-container">
  <h1><%= @restaurant.name %></h1>
</div>
<div class="outer-container d-flex">
  <div class="meals-container">
    <div class="pt-2 pb-2 text-center border">
      <h2>Meals</h2>
    </div>
    <div class="width-100 rows-container col">
      <% @tables.each do |table| %>
        <div class="order-card border">
          <div>
            <h3><%= table.id %></h3>
          </div>
          <% orders = table.orders %>
          <% orders = orders.select { |order| order.product.product_type == "Meal"} %>
          <% orders = orders.select { |order| order.status == false } %>
          <% orders.each do |order| %>
            <%= link_to restaurant_update_status_path(:order_id => order.id) do %>
              <div>
                <p><%= order.amount %> x <%= order.product.name %></p>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="drinks-container">
    <div class="pt-2 pb-2 text-center border">
      <h2>Drinks</h2>
    </div>
    <div class="width-100 rows-container">
            <% @tables.each do |table| %>
        <div class="order-card border">
          <div>
            <h3><%= table.id %></h3>
          </div>
          <% orders = table.orders %>
          <% orders = orders.select { |order| order.product.product_type == "Drink"} %>
          <% orders = orders.select { |order| order.status == false } %>
          <% orders.each do |order| %>
            <%= link_to restaurant_update_status_path(:order_id => order.id) do %>
              <div>
                <p><%= order.amount %> x <%= order.product.name %></p>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
