<%= simple_form_for [@restaurant, @table] do |f| %>
      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
        <div class="form-new">
          <h1>New Table</h1>
          <%= f.input :name %>
        </div>
        <div class="submit-btn">
          <%= f.submit %>
        </div>
    <% end %>
