<div class="wrapper">
  <div class="show-restaurant-banner" >
    <div class="show-restaurant-logo"></div>
    <div class="show-restaurant-title p-2">
        <h3><%= @restaurant.name %></h3>

        <div class="restaurant-table rounded p-1 text-center"> Table: C12 </div>
    </div>
  </div>

  <div class="show-restaurant-special-offer-card mt-4 p-2 mx-auto rounded text-end">
    <h3 class="p-2">Daily Menu</h3>
    <p class="special-offer-price rounded p-1" > € 12,50 </p>
  </div>

  <div class="show-restaurant-categories mt-4 p-2">
    <h3 class="show-category-title p-2 m-auto">Drinks</h3>
    <div class="show-restaurant-categories-card m-auto">
      <div class="swiper-wrapper d-flex justify-content-center align-items-center h-100">
        <%= link_to restaurant_restaurant_drinks_path(@restaurant, { category: 'beers'}) do%>
          <div class="swiper-slide p-2 me-2" id="beers"></div>
        <% end %>
        <%= link_to restaurant_restaurant_drinks_path(@restaurant, { category: 'softdrinks' }) do%>
          <div class="swiper-slide p-2 me-2" id="softdrinks"></div>
        <% end %>
        <%= link_to restaurant_restaurant_drinks_path(@restaurant, { category: 'beers' }) do%>
          <div class="swiper-slide p-2 me-2" id="cocktails"></div>
        <% end %>
        <%= link_to restaurant_restaurant_drinks_path(@restaurant) do%>
          <div class="swiper-slide p-2 me-2"></div>
        <% end %>
        <%= link_to restaurant_restaurant_drinks_path(@restaurant) do%>
          <div class="swiper-slide p-2 me-2"></div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="show-restaurant-categories mt-4 p-2">
    <h3 class="show-category-title p-2 m-auto">Food</h3>
    <div class="show-restaurant-categories-card m-auto">
      <div class="swiper-wrapper d-flex justify-content-center align-items-center h-100">
        <%= link_to restaurant_restaurant_meals_path(@restaurant) do%>
          <div class="swiper-slide p-2 me-2" id="drink-1"></div>
        <% end %>
        <%= link_to restaurant_restaurant_meals_path(@restaurant) do%>
          <div class="swiper-slide p-2 me-2"></div>
        <% end %>
        <%= link_to restaurant_restaurant_meals_path(@restaurant) do%>
          <div class="swiper-slide p-2 me-2"></div>
        <% end %>
        <%= link_to restaurant_restaurant_meals_path(@restaurant) do%>
          <div class="swiper-slide p-2 me-2"></div>
        <% end %>
        <%= link_to restaurant_restaurant_meals_path(@restaurant) do%>
          <div class="swiper-slide p-2 me-2"></div>
        <% end %>
      </div>
    </div>
  </div>
</div>
