<%= simple_form_for [@restaurant, @category] do |f| %>
      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
        <div class="form-new">
          <%= f.input :name %>
          <%= f.input :product_type, collection: ["Meal", "Drink"] %>
          <%= f.input :photo, as: :file %>
        </div>

        <%= f.submit %>
    <% end %>
