<div class="wrapper" data-controller="cart">
  <div class="product-title d-flex justify-content-between p-2">
    <div class="previous-button">
      <input type="button" onclick="history.back()" value="<">
    </div>
      <h2>Drinks</h2>
      <p>></p>
    </div>
      <%#= render "shared/productcard_drinks" %>
      <div class="accordion" id="accordionExample" data-controller="cartcounter">
        <div class="item text-center p-beer">
          <h2 class="test" id="beers">
            <button class=" categories-card rounded text-center <%= @category != 'beers' ? 'collapsed' : '' %>" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="<%= @category != 'beers' ? 'false' : 'true' %>" aria-controls="collapseOne">
              Beers
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse <%= @category != 'beers' ? '' : 'show' %>" aria-labelledby="headingOne" data-bs-parent="#accordionExample">

            <div class="accordion-body">
              <% @beers = @drinks.where(category: "Beer") %>
              <% @beers.each do |beer| %>
                <div class="accordion-body" data-controller="product" data-product-id-value='<%= beer.id %>'>
                  <div class="categories-drink-card p-2 border">
                    <div class="all-boxes">
                      <%= cl_image_tag beer.photo.key, class: 'drink-image'%>
                      <div style="flex-grow: 1;">
                        <div class="box1">
                          <h2><%= beer.name %></h2>
                          <p><% 5.times do %> ⭐ <% end %></p>
                        </div>
                        <p><%= beer.description %></p>
                        <div class="box3">
                          <h3 class="price">€ <%= beer.price %></h3>
                          <div class="btn btn-color rounded btn-product text-end"><i class="fa-solid fa-plus fa-xl" data-action="click->product#updatecart click->cartcounter#updatecounter"></i></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
        <div class="item text-center p-beer">
          <h2 class="test" id="softdrinks">
            <button class=" categories-card rounded text-center <%= @category != 'softdrinks' ? 'collapsed' : '' %>" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="<%= @category != 'softdrinks' ? 'false' : 'true' %>" aria-controls="collapseTwo">
              Softdrinks
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse <%= @category != 'softdrinks' ? '' : 'show' %>" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <% @softdrinks = @drinks.select { |drink| drink.category == "Softdrinks"} %>
              <% @softdrinks.each do |softdrink| %>
                <div class="accordion-body" data-controller="product" data-product-id-value='<%= softdrink.id %>'>
                  <div class="categories-drink-card border">
                    <div class="all-boxes">
                      <%= cl_image_tag softdrink.photo.key, class: 'drink-image'%>
                      <div style="flex-grow: 1;">
                        <div class="box1">
                          <h2><%= softdrink.name %></h2>
                          <p><% 5.times do %> ⭐ <% end %></p>
                        </div>
                        <p><%= softdrink.description %></p>
                        <div class="box3">
                          <h3 class="price"> <%= sprintf('%.2f', softdrink.price) %>€</h3>
                          <div class="btn btn-color btn-product text-end"><i class="fa-solid fa-plus fa-xl" data-action='click->product#updatecart click->cartcounter#updatecounter'></i></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
          <%= link_to cart_path do %>
            <div class="btn btn-color pay-button sticky"><strong>View Cart <span class="cart-counter" data-cartcounter-target="output"></span></strong></div>
          <% end %>
      </div>
    </div>
