<% sum = 0 %>
<% arr = ["#collapseOne", "#collapseTwo", "#collapseThree", "#collapseFour", "#collapseFive", "#collapseSix", "#collapseSeven", "#collapseEight",] %>
<% arr2 = ["collapseOne", "collapseTwo", "collapseThree", "collapseFour", "collapseFive", "collapseSix", "collapseSeven", "collapseEight",] %>
<% arr3 = ["headingOne", "headingTwo", "headingThree", "headingFour", "headingFive", "headingSix", "headingSeven", "headingEight",] %>
<div class="wrapper">
  <div class="product-title d-flex justify-content-between p-2">
    <%= link_to :back, class: "previous-button" do %>
      <div class="img-btn-previous"><%= image_tag "button-previous.png" %></div>
    <% end %>
    <%# <input type="button" onclick="history.back()"> %>
    <h1>Meals</h1>
    <%= link_to restaurant_restaurant_drinks_path(@restaurant, {table: @table}), class: "previous-button" do %>
      <div class="img-btn-next"><%= image_tag "Button-next.png" %></div>
    <% end %>
  </div>
  <%#= render "shared/productcard_drinks" %>
  <div class="accordion" id="accordionExample" data-controller="cartcounter">
    <% @categories.each do |category|%>
      <div class="accordion-item text-center" >
        <h2 class="test " id=<%=arr3[sum]%>>
          <button class="categories-card rounded text-center <% if @category.present? %><%=  @category.name != category.name ? 'collapsed' : 'show' %><% end%>" type="button" data-bs-toggle="collapse" data-bs-target=<%= arr[sum]%> aria-expanded="false<%#= @category != 'beers' ? 'false' : 'true' %>" aria-controls=<%= arr2[sum]%>>
            <%= category.name %>
          </button>
          </h2>
          <div id=<%= arr2[sum]%> class="accordion-collapse collapse <% if @category.present? %><%= @category.name != category.name ? '' : 'show' %><% end%>" aria-labelledby=<%=arr3[sum]%> data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <% category.products.each do |product| %>
                <div class="accordion-body" data-controller="product" data-product-id-value='<%= product.id %>' data-product-price-value='<%= product.price%>' data-product-table-value="<%= @table %>">
                  <div class="outer-meal-card d-flex" >
                    <div class="img-allergy">
                      <%= cl_image_tag product.photo.key, class: 'food-image'%>
                      <%# <%= cl_image_tag burger.photo.key, class: 'meal-image'%>
                      <div class="allergies d-flex justify-content-between">
                        <% product.allergies.each do |allergy| %>
                          <img class="allergy-img" src=<%= allergy.url %>>
                        <% end %>
                        <%# end %>
                      </div>
                    </div>
                    <div class="half-card text-start">
                      <p class="width-100"><% 5.times do %> ⭐ <% end %></p>
                      <div class="title-price ">
                        <h2 class="title"><%= product.name %></h2>
                      </div>
                      <div class="description">
                        <p><%= product.description %></p>
                      </div>
                      <div class="price-button d-flex justify-content-between align-bottom">
                        <p class="price"><%= number_to_currency(product.price, unit: '€ ', separator: ",")%></p>
                        <div class="order-button btn-color btn-product">
                          <i class="fa-solid fa-plus fa-l margin-plus-favicon" data-action='click->product#updatecart click->cartcounter#updatecounter'></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
          <% sum += 1 %>
        </div>
      <% end %>
      <div style="height: 15vh;">
      </div>
      <%= link_to cart_path do %>
        <div class="btn btn-color pay-button sticky"><strong>View Cart<span class="cart-counter" data-cartcounter-target="output"></span></strong></div>
      <% end %>
    </div>
  </div>
